html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

h1 {
    font-family: Verdana, Calibri, sans-serif;
    font-size: 1.3em
}

h2 {
    font-family: Verdana, Calibri, sans-serif;
    font-size: 1.1em
}

span {
    color: black;
}


/* --------------- layout ------------------------*/

#container {
    width: 100%;
    margin: 0px auto;
    
}

header {
    background-color: #286af0;
    padding-top: 10px;
}

    header nav ul {
        padding: 10px;
    }

        header nav ul li {
            text-decoration: none;
            display: inline;
        }
        header nav ul li a {
            font-size:20px;
            text-decoration:none;
            padding:10px;
            color:#fff;
        }

section {
    background-color: #ccc;
    overflow: auto;
    float: right;
    width: 80%;
    min-height: 700px;
}

aside {
    float: left;
    width: 20%;
}

footer {
    clear: both;
    background-color: #286af0;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-top: 5px;
}

#hubble {
    width: 350px;
    height: 350px;
}

#imgContainer {
    margin-top: 40px;
    text-align: center;
}

#tituloAside {
    border: 1px solid red;
    padding: 15px 0px;
}

aside article div {
    margin: 10px;
}

#resultado{
    margin-left: 5px;
}